flows/flows.json
[
    {
        "id": "696fdb15b47b3389",
        "type": "subflow",
        "name": "sld_status_update",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 1000,
                "y": 200,
                "wires": [
                    {
                        "id": "132e4d1ef74384ef",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1000,
                "y": 280,
                "wires": [
                    {
                        "id": "132e4d1ef74384ef",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "cc90405b078b72d5",
        "type": "mqtt in",
        "z": "696fdb15b47b3389",
        "name": "",
        "topic": "f/i/state/sld",
        "qos": "0",
        "datatype": "json",
        "broker": "fa600c20.8a9c9",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "132e4d1ef74384ef"
            ]
        ]
    },
    {
        "id": "132e4d1ef74384ef",
        "type": "function",
        "z": "696fdb15b47b3389",
        "name": "",
        "func": "if(msg.payload.active == 1){\n    msg.payload.sld_status = \"start\";\n    return [msg,null];\n}\nelse if(msg.payload.colorValue && msg.payload.code == 2){\n    msg.payload.sld_status = \"end\";\n    return [null,msg];\n}\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "831e8b50ae9d9067",
        "type": "mqtt in",
        "z": "696fdb15b47b3389",
        "name": "",
        "topic": "fl/sld/ack",
        "qos": "0",
        "datatype": "json",
        "broker": "fa600c20.8a9c9",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "132e4d1ef74384ef"
            ]
        ]
    },
    {
        "id": "0e590d4d6e50ed41",
        "type": "subflow",
        "name": "VGR",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 260,
                "y": 220,
                "wires": [
                    {
                        "id": "09eb968a6e1b5ec8"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "09eb968a6e1b5ec8",
        "type": "function",
        "z": "0e590d4d6e50ed41",
        "name": "+ts UTC ISO8301",
        "func": "var ts = new Date().toISOString();\nmsg.payload[\"ts\"] = ts;\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 240,
        "wires": [
            [
                "de37d3b54139ef76"
            ]
        ]
    },
    {
        "id": "de37d3b54139ef76",
        "type": "mqtt out",
        "z": "0e590d4d6e50ed41",
        "name": "",
        "topic": "f/move",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa600c20.8a9c9",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "a82cfd30015312e7",
        "type": "tab",
        "label": "Demo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e89af33311c0a0ec",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "raw",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"workpiece\":{\"type\":\"RED\",\"state\":\"RAW\"},\"ts\":\"\",\"code\":3}",
        "payloadType": "json",
        "x": 2130,
        "y": 200,
        "wires": [
            [
                "23ea2cfb3220cc71"
            ]
        ]
    },
    {
        "id": "23ea2cfb3220cc71",
        "type": "function",
        "z": "a82cfd30015312e7",
        "name": "+ts UTC ISO8301",
        "func": "var ts = new Date().toISOString();\nmsg.payload[\"ts\"] = ts;\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2410,
        "y": 200,
        "wires": [
            [
                "b02e27b849139a6b"
            ]
        ]
    },
    {
        "id": "b02e27b849139a6b",
        "type": "mqtt out",
        "z": "a82cfd30015312e7",
        "name": "Make HBW Move",
        "topic": "fl/vgr/do",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa600c20.8a9c9",
        "x": 2730,
        "y": 180,
        "wires": []
    },
    {
        "id": "f8a052cf7518cf87",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "  {\"type\":\"BLUE\",\"ts\":\"\"}",
        "payloadType": "json",
        "x": 1550,
        "y": 500,
        "wires": [
            [
                "096a400c2c95842b"
            ]
        ]
    },
    {
        "id": "096a400c2c95842b",
        "type": "function",
        "z": "a82cfd30015312e7",
        "name": "+ts UTC ISO8301",
        "func": "var ts = new Date().toISOString();\nmsg.payload[\"ts\"] = ts;\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1890,
        "y": 500,
        "wires": [
            [
                "a736d76b74856396"
            ]
        ]
    },
    {
        "id": "a736d76b74856396",
        "type": "mqtt out",
        "z": "a82cfd30015312e7",
        "name": "",
        "topic": "f/test/order",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fa600c20.8a9c9",
        "x": 2130,
        "y": 500,
        "wires": []
    },
    {
        "id": "4c9bc85a964e5ffc",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "hbw->sld_blue",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"hbw\",\"to\":\"sld_blue\"}",
        "payloadType": "json",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "deccd99332f4f096"
            ]
        ]
    },
    {
        "id": "ccb8a5febb0ab055",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "mpo->hbw",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"mpo\",\"to\":\"hbw\"}",
        "payloadType": "json",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "deccd99332f4f096"
            ]
        ]
    },
    {
        "id": "630511045e1e6b01",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "sld_red->mpo",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"sld_red\",\"to\":\"mpo\"}",
        "payloadType": "json",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "deccd99332f4f096"
            ]
        ]
    },
    {
        "id": "282aadc2941480bf",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "sld_white->sld_blue",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"sld_white\",\"to\":\"sld_blue\"}",
        "payloadType": "json",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "deccd99332f4f096"
            ]
        ]
    },
    {
        "id": "90370c94b4d7cc7a",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "sld_blue->",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"sld_blue\",\"to\":\"\"}",
        "payloadType": "json",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "deccd99332f4f096"
            ]
        ]
    },
    {
        "id": "dcfe3ac12eeecece",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "mpo->dsi",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"mpo\",\"to\":\"dsi\"}",
        "payloadType": "json",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "deccd99332f4f096"
            ]
        ]
    },
    {
        "id": "01f6157fd68b1eb4",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "sld_red->dso",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"sld_red\",\"to\":\"dso\"}",
        "payloadType": "json",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "deccd99332f4f096"
            ]
        ]
    },
    {
        "id": "d760b9c5f081d4cb",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "sld_white->nfc",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"sld_white\",\"to\":\"nfc\"}",
        "payloadType": "json",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "deccd99332f4f096"
            ]
        ]
    },
    {
        "id": "70fed856a7403451",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "sld_blue->color",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"sld_blue\",\"to\":\"color\"}",
        "payloadType": "json",
        "x": 140,
        "y": 680,
        "wires": [
            [
                "deccd99332f4f096"
            ]
        ]
    },
    {
        "id": "4d7c9cacfee54272",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "PROCESSED",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"workpiece\":{\"type\":\"BLUE\",\"state\":\"PROCESSED\"},\"ts\":\"\",\"code\":3}",
        "payloadType": "json",
        "x": 2150,
        "y": 260,
        "wires": [
            [
                "23ea2cfb3220cc71"
            ]
        ]
    },
    {
        "id": "deccd99332f4f096",
        "type": "subflow:0e590d4d6e50ed41",
        "z": "a82cfd30015312e7",
        "name": "",
        "env": [],
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "59c7b8e42eb312d7",
        "type": "subflow:696fdb15b47b3389",
        "z": "a82cfd30015312e7",
        "name": "",
        "env": [],
        "x": 1570,
        "y": 220,
        "wires": [
            [
                "1b24d7a9968f5987"
            ],
            [
                "00c1a78e84c986a0"
            ]
        ]
    },
    {
        "id": "1b24d7a9968f5987",
        "type": "debug",
        "z": "a82cfd30015312e7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 200,
        "wires": []
    },
    {
        "id": "00c1a78e84c986a0",
        "type": "debug",
        "z": "a82cfd30015312e7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1830,
        "y": 260,
        "wires": []
    },
    {
        "id": "270b87144856ebd0",
        "type": "comment",
        "z": "a82cfd30015312e7",
        "name": "Move workpiece from A to B",
        "info": "",
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "8920948029c55df8",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "hbw",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"none\",\"to\":\"hbw\"}",
        "payloadType": "json",
        "x": 890,
        "y": 140,
        "wires": [
            [
                "1193c1d0046fc5e1"
            ]
        ]
    },
    {
        "id": "af0b55c10fcffe0a",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "mpo",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"none\",\"to\":\"mpo\"}",
        "payloadType": "json",
        "x": 890,
        "y": 200,
        "wires": [
            [
                "1193c1d0046fc5e1"
            ]
        ]
    },
    {
        "id": "530acceb2bbf4746",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "sld_white",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"none\",\"to\":\"sld_white\"}",
        "payloadType": "json",
        "x": 900,
        "y": 260,
        "wires": [
            [
                "1193c1d0046fc5e1"
            ]
        ]
    },
    {
        "id": "a0a3a5d7d9f45e55",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "sld_red",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"none\",\"to\":\"sld_red\"}",
        "payloadType": "json",
        "x": 890,
        "y": 320,
        "wires": [
            [
                "1193c1d0046fc5e1"
            ]
        ]
    },
    {
        "id": "0b789f0b535ca18e",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "sld_blue",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"none\",\"to\":\"sld_blue\"}",
        "payloadType": "json",
        "x": 900,
        "y": 380,
        "wires": [
            [
                "1193c1d0046fc5e1"
            ]
        ]
    },
    {
        "id": "6650f4a00cf468b6",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "dsi",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"none\",\"to\":\"dsi\"}",
        "payloadType": "json",
        "x": 890,
        "y": 440,
        "wires": [
            [
                "1193c1d0046fc5e1"
            ]
        ]
    },
    {
        "id": "6306734da162290c",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "dso",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"none\",\"to\":\"dso\"}",
        "payloadType": "json",
        "x": 890,
        "y": 500,
        "wires": [
            [
                "1193c1d0046fc5e1"
            ]
        ]
    },
    {
        "id": "8c267c01a9b6b6e0",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "nfc",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"none\",\"to\":\"nfc\"}",
        "payloadType": "json",
        "x": 890,
        "y": 560,
        "wires": [
            [
                "1193c1d0046fc5e1"
            ]
        ]
    },
    {
        "id": "1193c1d0046fc5e1",
        "type": "subflow:0e590d4d6e50ed41",
        "z": "a82cfd30015312e7",
        "name": "",
        "env": [],
        "x": 1150,
        "y": 380,
        "wires": []
    },
    {
        "id": "bc2a86abc4edb59a",
        "type": "comment",
        "z": "a82cfd30015312e7",
        "name": "Move VGR to destination",
        "info": "",
        "x": 1110,
        "y": 100,
        "wires": []
    },
    {
        "id": "34f502ee6f273005",
        "type": "comment",
        "z": "a82cfd30015312e7",
        "name": "Example hooks for SLD triggers",
        "info": "",
        "x": 1690,
        "y": 100,
        "wires": []
    },
    {
        "id": "25e218c73c2a30ea",
        "type": "comment",
        "z": "a82cfd30015312e7",
        "name": "Activate mode: store work pieces after sorting as processed",
        "info": "",
        "x": 1690,
        "y": 400,
        "wires": []
    },
    {
        "id": "499d43293ae2bae6",
        "type": "comment",
        "z": "a82cfd30015312e7",
        "name": "Test button for ordering raw/processed work pieces",
        "info": "",
        "x": 2250,
        "y": 100,
        "wires": []
    },
    {
        "id": "302392668d382b08",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "color",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"none\",\"to\":\"color\"}",
        "payloadType": "json",
        "x": 890,
        "y": 620,
        "wires": [
            [
                "1193c1d0046fc5e1"
            ]
        ]
    },
    {
        "id": "d6e582040ece46f1",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "grip",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"grip\",\"to\":\"\"}",
        "payloadType": "json",
        "x": 890,
        "y": 760,
        "wires": [
            [
                "7760a17f308a83e2"
            ]
        ]
    },
    {
        "id": "7760a17f308a83e2",
        "type": "subflow:0e590d4d6e50ed41",
        "z": "a82cfd30015312e7",
        "name": "",
        "env": [],
        "x": 1170,
        "y": 760,
        "wires": []
    },
    {
        "id": "f2b249094989a421",
        "type": "inject",
        "z": "a82cfd30015312e7",
        "name": "release",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"type\":\"\",\"ts\":\"\",\"from\":\"grip\",\"to\":\"\"}",
        "payloadType": "json",
        "x": 890,
        "y": 840,
        "wires": [
            [
                "ca5777f52db94872"
            ]
        ]
    },
    {
        "id": "ca5777f52db94872",
        "type": "subflow:0e590d4d6e50ed41",
        "z": "a82cfd30015312e7",
        "name": "",
        "env": [],
        "x": 1170,
        "y": 840,
        "wires": []
    },
    {
        "id": "89999578c1ad3502",
        "type": "comment",
        "z": "a82cfd30015312e7",
        "name": "Trigger pumps of VGR",
        "info": "",
        "x": 920,
        "y": 700,
        "wires": []
    },
    {
        "id": "fa600c20.8a9c9",
        "type": "mqtt-broker",
        "name": "LocalBroker",
        "broker": "192.168.1.102",
        "port": "1883",
        "clientid": "Node-RED",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]